/* screen - ccs-page */

.ccs-page {
  align-items: flex-end;
  background-color: #f9fbfc;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 74px;
  height: 723px;
  overflow: hidden;
  width: 1440px;
}

.ccs-page .flex-col {
  flex-direction: column;
  gap: 68px;
  margin-right: -20px;
  margin-top: -118px;
  min-height: 470px;
  width: 1460px;
}

.ccs-page .header-with-links {
  align-self: flex-end;
  background-color: var(--eerie-black);
  height: 50px;
  position: relative;
  width: 1440px;
}

.ccs-page .header-container {
  height: 50px;
  position: relative;
}

.ccs-page .header {
  background-color: transparent;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.ccs-page .frame-22 {
  align-items: center;
  background-color: var(--eerie-black);
  display: flex;
  gap: 10px;
  left: 108px;
  position: absolute;
  top: 0;
  width: 398px;
}

.ccs-page .header-tabs {
  align-items: flex-start;
  background-color: var(--neutral1100);
  display: flex;
  gap: 10px;
  padding: 17px 16px;
  position: relative;
  width: fit-content;
}

.ccs-page .header-tabs-1 {
  background-color: var(--contentprimary);
  margin-right: -138.00px;
  padding: 17px 0px;
  position: relative;
}

.ccs-page .account {
  height: 24px;
  left: 57042px;
  position: absolute;
  top: 7850px;
  width: 24px;
}

.ccs-page .image-44 {
  height: 30px;
  left: 57051px;
  object-fit: cover;
  position: absolute;
  top: 7860px;
  width: 35px;
}

.ccs-page .header-tabs-2 {
  background-color: var(--neutral1100);
  left: 542px;
  padding: 17px 16px;
  position: absolute;
  top: 0;
}

.ccs-page .header-tabs-3 {
  background-color: var(--neutral1100);
  left: 460px;
  padding: 16px;
  position: absolute;
  top: 0;
}

.ccs-page .remix-iconslinesystemarrow-down-s-line {
  height: 18px;
  margin-bottom: -7850.24px;
  margin-right: -56582.00px;
  min-width: 18px;
  position: relative;
}

.ccs-page .overlap-group1 {
  height: 352px;
  position: relative;
  width: 1440px;
}

.ccs-page .plentiful_plankton-28 {
  cursor: pointer;
  height: 352px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.ccs-page .rectangle-2471 {
  background-color: #0c111b;
  height: 352px;
  left: 0;
  opacity: 0.15;
  position: absolute;
  top: 0;
  width: 1440px;
}

.ccs-page .title {
  color: var(--neutral50);
  font-family: var(--font-family-poppins-medium);
  font-size: 37px;
  font-weight: 500;
  left: 472px;
  letter-spacing: 0;
  line-height: 54px;
  position: absolute;
  text-shadow: 0px 4px 5px #000000a6;
  top: 186px;
  transform: rotate(-0.12deg);
  white-space: nowrap;
}

.ccs-page .flex-row {
  margin-right: 52px;
  min-width: 1225px;
}

.ccs-page .frame-11850 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.ccs-page .frame-11785 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 546px;
}

.ccs-page .process {
  color: var(--contenttertiary);
  font-weight: 600;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.ccs-page .how-to-screen-your-project {
  color: var(--neutral1100);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 600;
  height: 51px;
  letter-spacing: 0;
  line-height: 54px;
  margin-right: -386.00px;
  position: relative;
  white-space: nowrap;
  width: 932px;
}

.ccs-page .ministries-and-plann {
  height: 90px;
  letter-spacing: -0.13px;
  line-height: 24px;
  position: relative;
  width: 448.7px;
}

.ccs-page .button {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.ccs-page .base {
  align-items: center;
  background-color: var(--violet600);
  border-radius: 5px;
  box-shadow: 0px 1px 0px #0000000d;
  display: flex;
  gap: 6px;
  justify-content: center;
  padding: 8px 15px 8px 20px;
  position: relative;
  width: fit-content;
}

.ccs-page .button-1 {
  color: var(--neutral50);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.ccs-page .remix-iconslinesystemarrow-right-s-line {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.ccs-page .line-1445 {
  height: 230px;
  margin-left: 11px;
  object-fit: cover;
  width: 1px;
}

.ccs-page .frame-11851 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-left: 122px;
  position: relative;
  width: fit-content;
}

.ccs-page .frame-11785-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 545px;
}

.ccs-page .how-to-screen-your-project-1 {
  color: var(--neutral1100);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 600;
  height: 51px;
  letter-spacing: 0;
  line-height: 54px;
  margin-right: -387.00px;
  position: relative;
  white-space: nowrap;
  width: 932px;
}

.ccs-page .each-rtd-entry-is-as {
  height: 90px;
  letter-spacing: -0.13px;
  line-height: 24px;
  position: relative;
  width: 495.59px;
}

.ccs-page .button-2 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--violet600);
  border-radius: 5px;
  display: flex;
  height: 41px;
  padding: 2px 0px;
  position: relative;
  width: 237px;
}

.ccs-page .base-1 {
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  box-shadow: 0px 1px 0px #0000000d;
  display: flex;
  flex: 1;
  gap: 6px;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
}

.ccs-page .button-3 {
  color: var(--violet600);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -1.50px;
  margin-right: -1.50px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.ccs-page .flex {
  align-items: flex-start;
  display: flex;
}
