<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8" />
    <title>Climate Legislation and Actions Database | CLAD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Climate Legislation and Actions Database | CLAD-ECA" name="description" />
    <meta content="World Bank Group" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../static/assets/images/favicon.ico">

    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

    <!-- plugin css -->
    <link href="../static/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="../static/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="../static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="../static/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="../static/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
    
    <style type="text/css">
        .wrapped-link {
          white-space: normal;
      }
    </style>
  
</head>

<body style="margin: 0; background: #f4f6f8">

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="layout-width">
                <div class="navbar-header">
                    <div class="d-flex">
                    </div>
                </div>
            </div>
        </header>

        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">

            <!-- LOGO -->
            <div id="logo"></div>

            <!-- Header -->
            <div id="header"></div>

            <div class="sidebar-background"></div>

        </div>
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start TITLE ROW  -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h1>Climate Legislation and Actions Database</h1>
                                <h3 class="mb-sm-0">Climate Legislation and Action Database in ECA (CLAD-ECA) is a repository of climate-relevant national-level legislation, strategies, action plans, and policies in Europe and Central Asia (ECA) region. It is developed and maintained by the Design 4 Climate (D4C) that works on the fulfillment of the World Bank's climate corporate commitments in ECA region on behalf of ECA Development Effectiveness (DE).</h3>

                            </div>
                        </div>
                    </div>
                    <!-- end TITLE ROW -->

                    <!-- start DATABASE ROW  -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center">
                                    <h5 class="card-title mb-0 flex-grow-1">Climate Legislation and Actions Database</h5>
                                    <div>
                                        <a href='/record'><button id="addRecord" class="btn btn-primary">Add New Record</button></a>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <p class="text-muted"><code> ***CCDR </code> Country Climate and Development Reports is a World Bank document and not a national strategy. The year being shown on the Dashboard for CCDR hence refers to the document/publication year as it cannot be adopted.</p>
                                    <p class="text-muted"><code> **NECP </code> National Energy and Climate Plans</p>

                                    <table id="scroll-horizontal" class="table table-bordered dt-responsive nowrap align-middle mdl-data-table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Country<br/><font size="1">Country Management Unit</font></th>
                                                <th>Short Title<br/><font size="1">Policy Type</font></th>
                                                <th>Read Document</th>
                                                <th>Status, Language and Accessibility</th>
                                                <th>Document Title</th>
                                                <th>Document Date</th>
                                                <th>Category</th>
                                                <th>Reference</th>
                                                <th>Remarks</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in row_data %}
                                            <tr>
                                                <!-- Country and CMU  -->
                                                <td>{{row[2]}}<br/><font size="1">{{row[1]}}</font></td>

                                                <!-- Short Title  -->
                                                <td>{{row[3]}}<br/><font size="1">{{row[11]}}</font></td>
                                                

                                                <!-- Read Document  -->
                                                <td><a href="{{row[6]}}" target="_blank" class="wrapped-link">View Document</a></td>
                                                
                                                <!-- Status, Language and Accessibility  -->
                                                <td>
                                                    <span class="badge" style="background-color:{{row[17]}};">{{row[10]}}</span> 
                                                    <span class="badge" style="background-color:{{row[18]}};">{{row[9]}}</span>
                                                    <span class="badge" style="background-color:{{row[19]}};">{{row[7]}}</span>
                                                </td>

                                                <!-- Document Title  -->
                                                <td>{{row[4]}}</td>

                                                <!-- Document Date  -->
                                                <td>{{row[13]}}</td>

                                                <!-- Category -->
                                                <td>{{row[12]}}</td>

                                                <!-- Reference  -->
                                                 <td><a href="{{row[5]}}" target="_blank" class="wrapped-link">More details</a></td>

                                                 <!-- Comments  -->
                                                 <td>{{row[14]}}</td>

                                                 <!-- Actions  -->
                                                <td>
                                                    <div class="dropdown d-inline-block">
                                                        <form action="/editrecord" method='POST'>
                                                            <input type="text" id="recordID" name="recordID" value="{{row[0]}}" hidden />
                                                            <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="ri-more-fill align-middle"></i>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-end">
                                                                <li><a class="dropdown-item edit-item-btn"><button id="optionTags" name="optionTags" value="editRecord" class="btn btn-primary" type="submit" disabled><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</button></a></li>
                                                                <li>
                                                                    <a class="dropdown-item remove-item-btn"><button name="optionTags" id="optionTags" value="deleteRecord" class="btn btn-primary" type="submit" disabled>
                                                                        <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete</button>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </form>
                                                    </div>
                                                </td>

                                            </tr>
                                            {% endfor %} 

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div>
                    <!--end DATABASE row-->

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © CLAD.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design4Climate
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="../static/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="../static/assets/js/pages/datatables.init.js"></script>

    <!-- App js -->
    <script src="../static/assets/js/app.js"></script>

    <script>
        $(function(){
          $("#header").load("../static/header.html"); 
          $("#logo").load("../static/logo.html"); 
        });
    </script>

</body>

</html>